
.template1 {
	width: 700px;
	background: white;
	margin: 0px auto;
}

.clear{overflow: hidden;}

.about1 {
	align-self: center;
	margin-top: 10px;
}

.about1 h1{
	color: #0198d1;
	font: 500 30px/1.15 Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
	margin: 0 0 1rem;
}

.about1 h2{
	font: 500 30px/1.15 Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
	margin: 0 0 1rem;
}

.about1 p{
    text-align: justify;
}
.about1 img {
	width: 25%;
}
a{
	text-decoration: none;
}