.right
{
    margin-top: 22px;
    border: none;
    max-width: 81.8%;
    nav-right: inherit;
    display: block;
    float: auto;
    transform: translate(22%);
    min-height: 480px;
}
.box
{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2),0 7px 20px rgba(0, 0, 0, .17);
}
table
{
    padding: 10px;
}